@page "/new-book"

<h3>Nowa książka</h3>

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Nowa książka</CardTitle>
            </CardHeader>
            <CardBody>
                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Tytuł</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                        <TextEdit @bind-Text="@Vm.Title" />
                    </FieldBody>
                </Field>

                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Autor</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                        <TextEdit @bind-Text="@Vm.Author" />
                    </FieldBody>
                </Field>

                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Liczba stron</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                        <NumericEdit TValue="int" @bind-Value="@Vm.PageCount" />
                    </FieldBody>
                </Field>

                <Field Horizontal JustifyContent="JustifyContent.End">
                     <FieldBody ColumnSize="ColumnSize.Is9.Is3.WithOffset">
                         <Check TValue="bool" @bind-Checked="@Vm.IsBorrowed">Czy wypożyczona</Check>
                     </FieldBody>
                 </Field>

                 <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Imię wypożyczającego</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                        <TextEdit @bind-Text="@Vm.Borrower.FirstName" />
                    </FieldBody>
                </Field>

                <Field Horizontal>
                    <FieldLabel ColumnSize="ColumnSize.IsFull.OnTablet.Is3.OnDesktop">Nazwisko wypożyczającego</FieldLabel>
                    <FieldBody ColumnSize="ColumnSize.IsFull.OnTablet.Is9.OnDesktop">
                        <TextEdit @bind-Text="@Vm.Borrower.LastName" />
                    </FieldBody>
                </Field>

                 <Field Horizontal JustifyContent="JustifyContent.End">
                     <FieldBody ColumnSize="ColumnSize.Is9.Is3.WithOffset">
                         <Button Clicked="OnSaveClicked" Color="Color.Primary">Zapisz</Button>
                     </FieldBody>
                 </Field>
             </CardBody>
         </Card>
     </Column>
</Row>