@using Bibliotekarz.Client.Layouts
@using Bibliotekarz.Shared.Model

@page "/"
@layout MainLayout

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Lista książek</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>Tutaj znajduje się <b>lista książek</b></CardText>
            </CardBody>
            <CardBody>
                <Button Type="ButtonType.Link" To="/new-book" Color="Color.Success" Margin="Margin.Is2.FromBottom">
                    <Icon Name="IconName.Add" TextColor="TextColor.Light" /> Dodaj książkę
                </Button>
                <Table Striped>
                    <TableHeader ThemeContrast="ThemeContrast.Dark">
                        <TableRow>
                            <TableHeaderCell>#</TableHeaderCell>
                            <TableHeaderCell>Autor</TableHeaderCell>
                            <TableHeaderCell>Tytuł</TableHeaderCell>
                            <TableHeaderCell>Liczba stron</TableHeaderCell>
                            <TableHeaderCell>Czy wypożyczony</TableHeaderCell>
                            <TableHeaderCell>Imię wyp.</TableHeaderCell>
                            <TableHeaderCell>Nazwisko wyp.</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        <Repeater Items="@BookList">
                            <TableRow @key="@context.Id">
                                <TableRowHeader>@context.Id</TableRowHeader>
                                    <TableRowCell>@context.Author</TableRowCell>
                                    <TableRowCell>@context.Title</TableRowCell>
                                    <TableRowCell>@context.PageCount</TableRowCell>
                                    <TableRowCell>@(context.IsBorrowed ? "Tak" : "Nie")</TableRowCell>
                                    <TableRowCell>@context.Borrower?.FirstName</TableRowCell>
                                    <TableRowCell>@context.Borrower?.LastName</TableRowCell>
                                    <TableRowCell>
                                        <Button Clicked="() => OnDeleteClicked(context.Id)">
                                            <Icon Name="IconName.Delete" TextColor="TextColor.Danger" /> Usuń
                                        </Button>
                                    </TableRowCell>
                                </TableRow>
                            </Repeater>
                        </TableBody>
                    </Table>
                </CardBody>
            </Card>
        </Column>
    </Row>