@using Bibliotekarz.Client.Layouts

@page "/"
@layout MainLayout

<Row>
    <Column ColumnSize="ColumnSize.IsFull">
        <Card Margin="Margin.Is4.FromBottom">
            <CardHeader>
                <CardTitle>Lista książek</CardTitle>
            </CardHeader>
            <CardBody>
                <CardText>Tutaj znajduje się <b>lista książek</b></CardText>
            </CardBody>
            <CardBody>
                <Table Striped>
                    <TableHeader ThemeContrast="ThemeContrast.Dark">
                        <TableRow>
                            <TableHeaderCell>#</TableHeaderCell>
                            <TableHeaderCell>Autor</TableHeaderCell>
                            <TableHeaderCell>Tytuł</TableHeaderCell>
                            <TableHeaderCell>Liczba stron</TableHeaderCell>
                            <TableHeaderCell>Czy wypożyczony</TableHeaderCell>
                            <TableHeaderCell>Imię wyp.</TableHeaderCell>
                            <TableHeaderCell>Nazwisko wyp.</TableHeaderCell>
                            <TableHeaderCell></TableHeaderCell>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @foreach (var book in bookList)
                        {
                            <TableRow @key="@book.Id">
                                <TableRowHeader>@book.Id</TableRowHeader>
                                <TableRowCell>@book.Author</TableRowCell>
                                <TableRowCell>@book.Title</TableRowCell>
                                <TableRowCell>@book.PageCount</TableRowCell>
                                <TableRowCell>@(book.IsBorrowed ? "Tak" : "Nie")</TableRowCell>
                                <TableRowCell>@book.Borrower?.FirstName</TableRowCell>
                                <TableRowCell>@book.Borrower?.LastName</TableRowCell>
                                <TableRowCell>
                                        <Button Clicked="() => OnDeleteClicked(book.Id)">
                                        <Icon Name="IconName.Delete" TextColor="TextColor.Danger" /> Usuń
                                    </Button>
                                </TableRowCell>
                            </TableRow>
                        }
                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>